/* GLOBAL & FONT STYLES 
************************************************************/

body {
    background-color: black;
    font-family: 'PT Mono', monospace;
    background-image: url(../images/star-wars-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: lightgrey;
}
h1 {
    font-weight: 700;
}
p {
    font-size: 1.4rem;
    color: white;
}
.col-md-6 {
    padding-top: 1rem;
    margin-bottom: 0;
}
.btn {
    margin-bottom: 1rem;
}
.btn:hover {
    text-decoration: underline;
}
.hide {
    display: none;
}
.show {
    display: block;
}

/* CHARACTER STYLES 
************************************************************/
.offender {
    margin-top: 1rem;
}
.characterImage {
    border: 0.15rem solid white;
    height: 10rem;
    background-size: cover;
    background-position: center;
}
.characterImage p, .enemyImage p {
    text-align: center;
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0.75);
    margin-top: 8rem;
}
#chosenOffender {
    border: 0.25rem solid #00ffc5;
}
#chosenOffender p {
    text-align: center;
    font-size: 1.1rem;
}
.obiWan {
    background-image: url(../images/obi-wan.jpg);
}
.luke {
    background-image: url(../images/luke.jpeg);
    background-position: top;
}
.sidious {
    background-image: url(../images/sidious.jpg);
}
.maul {
    background-image: url(../images/maul-2.jpg);
}


/* ENEMY & DEFENDER STYLES 
************************************************************/
.enemies {
    margin-top: 1rem;
    color: #fc0c50;
}
.enemyImage {
    border: 0.25rem solid #fc0c50;
}
.defender {
    margin-top: 1rem;
    /* color: #3e75fd; */
}
#chosenDefender {
    border: 0.25rem solid #3e75fd;
}

/* ATTACK INFO STYLES 
************************************************************/
.offenderAttack {
    color: #00ffc5;
}
.defenderAttack {
    /* color: #fc0c50; */
}
