/* GLOBAL & FONT STYLES 
************************************************************/

body {
    background-color: black;
    font-family: 'PT Mono', monospace;
    /* background-image: url(../images/deathstar-background.jpg); */
    background-image: url(../images/star-wars-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
h1 {
    font-weight: 700;
}
.yourCharacter h2 {
    color: #00ffc5;
}
.btn:hover {
    text-decoration: underline;
}
.hide {
    display: none;
}
.show {
    display: block;
}

/* CHARACTER STYLES 
************************************************************/
.characterImage {
    border: 5px solid white;
}
#selectedCharacter {
    border: 5px solid #00ffc5;
}
.obiWan {
    background-image: url(../images/obi-wan.png);
    background-position: center;
    height: 10rem;
    background-size: cover;
}
.luke {
    background-image: url(../images/luke-2.jpg);
    background-position: top;
    height: 10rem;
    background-size: cover;
}
.sidious {
    background-image: url(../images/sidious.png);
    background-position: center;
    height: 10rem;
    background-size: cover;
}
.maul {
    background-image: url(../images/maul.png);
    /* fix this */
    background-position: right;
    height: 10rem;
    background-size: cover;
}

/* ENEMIES STYLES 
************************************************************/
.enemies {
    margin-top: 5rem;
}
.enemyImage {
    border: 5px solid #fd683e;
}